.root{
	-fx-font-family: "Roboto";
}

.layout{
	-fx-spacing:10;
	-fx-background-color:"red";
}

.leftSegment {
    -fx-background-color: "white";
    -fx-border-radius: 40px;
    -fx-background-radius:15px;
    
    -fx-pref-width:550px;
    -fx-max-height:600px;
    
    -fx-alignment:center;
}

.title{
    -fx-font-size: 3em;
    -fx-font-weight: bold;
    -fx-text-fill: "black";
}

.subtitle{
	-fx-font-size: 1.5em;
	-fx-text-fill: "#939393";
}

.inputContainer{
	-fx-max-width:400px;
	-fx-spacing: 0.3em;
	-fx-padding:0.4em;

}

.inputTitle{
	-fx-font-size: 1.3em;
	-fx-text-fill: "black";
}

.inputBox{
	-fx-padding: 0.5em 0.8em 0.5em 0.8em;
	-fx-font-size: 1.3em;
	-fx-border-width:1px;
	-fx-border-color:"#939393";
	-fx-border-radius:5;
	-fx-background-color: transparent;
	-fx-transition: border-color 0.5s;  
}

.inputBox:focused{
	-fx-border-color:"red";
}




